html {
    color: #1F262A;
    font-family: 'Consolas', monospace;
}

body {
    background-color: #3FB399;
}

.container {
    background-color: white;
    width: 480px;
    margin: 120px auto;
}

table {
    width: 100%;
    border: 1px solid;
    border-color: #333333;
}

td {
    width: 25%;
}

button {
    border: none;
    background-color: white;
    font-size: 24px;
    height: 60px;
    width: 100%;
}

#calculatorInput {
    background-color: #ECECEC;
    font-size: 40px;
    height: 120px;
    padding-right: 16px;
    text-align: right;
    vertical-align: bottom;
}
